.tiptap h1.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.tiptap a {
  color: hsl(var(--link));
  cursor: pointer;
}

.tiptap a:hover {
  color: hsl(var(--link-hover));
}
